* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    border-left: 1px solid #e5e7eb;
    border-right: 1px solid #e5e7eb;
}
.product-card {
    border: 2px solid #d1d5db;
}
.cart-item {
    border: 1px solid #d1d5db;
}.cart-item {
    border: 1px solid #d1d5db;
}
nav {
    border-bottom: 2px solid #d1d5db;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #eef2ff;
}